# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# Test output
out/

# Dependency directories
pnpm-lock.yaml

# Miscellaneous
.DS_Store
Thumbs.db


# Test
.vscode-test/
